 <template>
  <div id="Inputs" class="Add">
    <center>
      <table>
        <tr>
          <td>
            <input type="text" class="input" v-model="id" placeholder="id" required />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="input" v-model="name" placeholder="Nombre" required />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="input" v-model="lastname" placeholder="Apellido" required />
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td>
            <input type="email" class="input" v-model="email" placeholder="Correo" required />
          </td>
        </tr>
        <tr>
          <td>
            <input type="text" class="input" v-model="phone" placeholder="Movil" required />
          </td>
        </tr>
      </table>
      <div class="bottones">
        <ul>
          <li>
            <input type="submit" class="btnadd" value="Añadri" @click="addcontact" />
          </li>
          <li>
            <input type="submit" value="volver" class="volver" @click="breturn" />
          </li>
        </ul>
      </div>
    </center>
  </div>
</template>


<script>
export default {
  name: "Add",
  components: {},
  props: {},
  data() {
    return {
      id: null,
      name: null,
      lastname: null,
      email: null,
      phone: null
    };
  },
  methods: {
    addcontact() {
      this.$emit(
        "contactadd",
        this.id,
        this.name,
        this.lastname,
        this.email,
        this.phone
      );
    },
    breturn() {
      this.$emit("btnreturn");
    }
  }
};
</script>

<style scoped>
table {
  margin-top: 130px;
}
.volver {
  width: 150px;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #0245fd;
  border-radius: 6px;
  border: 2px solid #0267ff;
  cursor: pointer;
}

td {
  width: 600px;
}
h3 {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
}
.input {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 15px;
  text-align: center;
}
.btnadd {
  width: 150px;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #0245fd;
  border-radius: 6px;
  border: 2px solid #0267ff;
  cursor: pointer;
}
li {
  display: inline-block;
  margin: 10px;
}
@media (max-width: 400px) {
  .btnadd {
    width: 80%;
    font-size: 20px;
  }
  .volver {
    width: 80%;
    font-size: 20px;
  }
}
</style>