<template>
  <div id="list-modification">
    <center>
      <ul>
        <li>
          <input type="submit" class="add" value="Añadir" @click="Add" />
        </li>
        <li>
          <input type="submit" class="deconcte" value="desconectar" @click="deconcet" />
        </li>
      </ul>
      <table class="table">
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Movil</th>
        </tr>
        <template v-for="(lista, index) in Contact">
          <Modificationcontacts
            :Contact="lista"
            :key="index"
            @btndelet="deleteContact"
            @btnedit="buttonSave"
          />
        </template>
      </table>
    </center>
  </div>
</template>

<script>
import Modificationcontacts from "@/components/Modificationcontacts.vue";

export default {
  name: "Contactlistmodification",
  components: {
    Modificationcontacts
  },
  props: {
    Contact: {
      propType: Array,
      required: true
    }
  },
  methods: {
    deleteContact(id) {
      this.$emit("buttondelete", id);
    },
    buttonSave(id, name, lastname, email, phone) {
      this.$emit("buttonedit", id, name, lastname, email, phone);
    },
    Add() {
      this.$emit("BtnAdd");
    },
    deconcet() {
      this.$emit("btndeconct");
    }
  }
};
</script>

<style scoped>
th {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 22px;
}
ul {
  margin-top: 100px;
}
li {
  display: inline-block;
  margin: 20px;
}
.add {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #2f0fe7;
  border-radius: 6px;
  border: 2px solid #0016b0;
  cursor: pointer;
}
.deconcte {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 6px;
  border: 2px solid #ff5100;
  cursor: pointer;
}
@media (max-width: 400px) {
  .add {
    width: 100%;
  }
  .deconcte {
    width: 100%;
  }
}
</style>
