<template>
  <div class="buttonadministrator">
    <nav>
      <a href="#">
        <img id="logo" src="@/assets/logo.svg.png" />
      </a>
      <label class="hamburger" for="nav-toggle"></label>
      <input id="nav-toggle" type="checkbox" class="hidden" />
      <div class="menu">
        <ul>
          <li>
            <input
              type="submit"
              class="btnver"
              value="Ver Lista contactos"
              @click="btnvercontactos"
            />
          </li>

          <li>
            <input
              class="button"
              type="submit"
              value="administrator Contactos"
              @click="buttonadministrator"
            />
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "FirstScreen",
  components: {},
  data() {
    return {};
  },
  methods: {
    buttonadministrator() {
      this.$emit("administrator");
    },
    btnvercontactos() {
      this.$emit("vercontactos");
    }
  }
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  display: inline-block;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.hamburger {
  height: 20px;
  width: 20px;
  padding: 20px;
  float: right;
  cursor: pointer;
}
li {
  padding: 10px;
}
.hamburger:before {
  content: "";
  display: block;
  background-color: #f3f3f3;
  width: 100%;
  height: 4px;
}

.hamburger:after {
  content: "";
  display: block;
  background-color: #f3f3f3;
  width: 100%;
  height: 4px;
  margin-top: 4px;
  box-shadow: 0px 8px 0 #f3f3f3;
}

.menu {
  background-color: #2b2b2b;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  clear: both;
  transition: max-height 0.3s cubic-bezier(0.63, 0, 0.25, 1);
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.menu a {
  color: white;
  display: block;
  padding: 0.4em;
  font-size: 25px;
}

nav input[type="checkbox"]:checked ~ .menu {
  max-height: 150px;
  border-bottom: #404040 5px solid;
}

nav a:hover,
nav a:focus,
nav label:hover,
nav label:focus {
  background-color: #070707;
}

@media (min-width: 700px) {
  .hamburger {
    display: none;
  }

  .menu {
    background: transparent;
    float: right;
    border: 0 !important;
    max-height: none;
    margin-top: -60px;
  }

  .menu ul,
  .menu li,
  .menu li a {
    display: inline-block;
  }

  .menu a {
    display: inline-block;
    padding: 15px 1em;
    text-decoration: none;
  }
}

.hidden {
  position: fixed;
  top: -100%;
  left: -100%;
}

#logo {
  margin-top: 8px;
  margin: 10px;
  margin-left: 30px;
  width: 70px;
  float: left;
}
.btnver {
  padding: 10px;
  margin-top: -10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #1883ba;
  cursor: pointer;
}
.btnver:hover {
  color: #1883ba;
  background-color: #ffffff;
}
.button {
  padding: 10px;
  margin-top: -10px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #1883ba;
  cursor: pointer;
}
.button:hover {
  color: #1883ba;
  background-color: #ffffff;
}
.buttonadministrator {
  text-align: center;
}
</style>
