<template>
  <div class="vercontact">
    <center>
      <table class="table">
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Movil</th>
        </tr>
        <template v-for="(lista, index) in Contact">
          <Showcontacts :Contact="lista" :key="index" />
        </template>
      </table>
    </center>
  </div>
</template>

<script>
import Showcontacts from "@/components/Showcontacts.vue";

export default {
  name: "Verlistacontactos",
  components: {
    Showcontacts
  },
  props: {
    Contact: {
      propType: Array,
      required: true
    }
  }
};
</script>

<style scoped>
.table {
  margin-top: 120px;
  color: white;
  text-align: center;
}
th {
  font-size: 25px;
  color: black;
}
@media (max-width: 400px) {
  .table {
    width: 100%;
    margin-left: -7px;
  }
}
</style>
