<template>
  <div id="login">
    <br />

    <ul>
      <li>
        <span>Usuario :</span>
      </li>
      <li>
        <input type="text" class="user" v-model="user" />
      </li>
      <li>
        <span>Contraseña :</span>
      </li>
      <li>
        <input type="password" class="password" v-model="password" />
      </li>
      <li>
        <input type="submit" class="btnlogin" value="Login" @click="btnLogin" />
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Login",
  components: {},
  props: {},
  data() {
    return {
      user: null,
      password: null
    };
  },
  methods: {
    btnLogin() {
      this.$emit("buttonlogin", this.user, this.password);
    }
  }
};
</script>

<style scoped>
span {
  font-size: 20px;
}
li {
  padding: 5px;
  list-style: none;
}
.user,
.password {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  text-align: center;
  opacity: 1;
}

.btnlogin {
  width: 30%;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
  cursor: pointer;
}
.btnlogin:hover {
  color: #1883ba;
  background-color: #ffffff;
  opacity: 1;
}
@media (max-width: 400px) {
  .user,
  .password {
    width: 100%;
    font-size: 20px;
    margin-left: -25px;
  }
  .btn {
    width: 80%;
    margin-left: -25px;
  }
}
</style>
