<template>
  <tr class="contactos-modification">
    <td>
      <input class="input" v-model="localContact.id" />
    </td>
    <td>
      <input class="input" v-model="localContact.name" />
    </td>
    <td>
      <input class="input" v-model="localContact.lastname" />
    </td>
    <td>
      <input class="input correo" v-model="localContact.email" />
    </td>
    <td>
      <input class="input" v-model="localContact.phone" />
    </td>
    <td>
      <input type="submit" class="btndel" value="Borrar" @click="delet" />
    </td>
    <td>
      <input type="submit" class="btnSave" value="Guardar" @click="Save" />
    </td>
  </tr>
</template>

<script>
export default {
  name: "Modificationcontacts",
  components: {},
  props: {
    Contact: {
      propType: Object,
      required: true
    }
  },
  data() {
    return {
      localContact: {
        id: null,
        name: null,
        lastname: null,
        email: null,
        phone: null
      }
    };
  },
  watch: {
    Contact: {
      immediate: true,
      handler: function(newContact) {
        this.localContact = JSON.parse(JSON.stringify(newContact));
      }
    }
  },
  methods: {
    delet() {
      this.$emit("btndelet", this.localContact.id);
    },
    Save() {
      this.$emit(
        "btnedit",
        this.localContact.id,
        this.localContact.name,
        this.localContact.lastname,
        this.localContact.email,
        this.localContact.phone
      );
    }
  }
};
</script>

<style scoped>
.input {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 20px;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 10px;
}
.btndel {
  width: 100%;
  padding: 5px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #fd0202;
  border-radius: 6px;
  border: 2px solid #ff0202;
  cursor: pointer;
  margin-top: -10px;
}
.btnSave {
  width: 100%;
  padding: 5px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: #17fd02;
  border-radius: 6px;
  border: 2px solid #02ff24;
  cursor: pointer;
  margin-top: -10px;
}
@media (max-width: 400px) {
  .input {
    width: 90%;
    font-size: 12px;
  }
}
</style>
