<template>
  <tr>
    <td>{{Contact.id}}</td>
    <td>{{Contact.name}}</td>
    <td>{{Contact.lastname}}</td>
    <td>{{Contact.email}}</td>
    <td>{{Contact.phone}}</td>
  </tr>
</template>

<script>
export default {
  name: "Showcontacts",
  components: {},
  props: {
    Contact: {
      propType: Object,
      required: true
    }
  }
};
</script>

<style scoped>
tr {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 50px;
  font-size: 20px;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 10px;
}
td {
  width: 250px;
  font-size: 25px;
}
</style>
