<template>
  <div id="app">
    <FirstScreen class="firstScreen" @administrator="Admin" @vercontactos="verlistacontact" />
    <center>
      <Login v-if="changeScreen === 'Login'" @buttonlogin="loginChange" class="login" />
    </center>
    <Listshowcontacts :Contact="Arrydisplay" v-if="changeScreen === 'Listshowcontacts'" />
    <Contactlistmodification
      class="listacontact"
      :Contact="Arrydisplay"
      @buttondelete="Deletcontact"
      @buttonedit="editFromList"
      v-if="changeScreen === 'Contactlistmodification'"
      @BtnAdd="bottonadd"
      @btndeconct="deconct"
    />
    <Add v-if="changeScreen === 'Add'" @contactadd="AddContact" @btnreturn="returnlista" />
  </div>
</template>

<script>
import FirstScreen from "@/components/FirstScreen.vue";
import Login from "@/components/Login.vue";
import Listshowcontacts from "@/components/Listshowcontacts.vue";
import Contactlistmodification from "@/components/Contactlistmodification.vue";
import Add from "@/components/Add.vue";
export default {
  name: "App",
  components: {
    FirstScreen,
    Login,
    Listshowcontacts,
    Contactlistmodification,
    Add
  },
  data() {
    return {
      changeScreen: "FirstScreen",
      Arrydisplay: [],
      url: "/api/contact",
      completeURL: "",
      contactId: 0
    };
  },
  created() {
    this.pin_up();
  },
  methods: {
    Admin() {
      this.changeScreen = "Login";
    },
    verlistacontact() {
      this.changeScreen = "Listshowcontacts";
    },
    listcontactedit() {
      this.changeScreen = "Contactlistmodification";
    },
    bottonadd() {
      this.changeScreen = "Add";
    },
    deconct() {
      this.changeScreen = "Login";
    },
    returnlista() {
      this.changeScreen = "Contactlistmodification";
      this.pin_up();
    },
    //function de mostrar
    async pin_up() {
      const result = await fetch(this.url);
      const data = await result.json();
      this.Arrydisplay = data;
    },
    //function de Eliminar
    async Deletcontact(id) {
      this.contactId = id;
      this.completeURL = this.url + "/" + this.contactId;
      await this.deleteFromList();

      console.log("El button eliminar functiona");
      await this.pin_up();
    },
    async deleteFromList() {
      await fetch(this.completeURL, {
        method: "Delete"
      }).then(response => response.json());
    },
    //function de editar
    async editFromList(id, name, lastname, email, phone) {
      console.log(id, name, lastname, email, phone);
      await fetch(this.url + "/" + id, {
        method: "put",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          id: id,
          name: name,
          lastname: lastname,
          email: email,
          phone: phone
        })
      })
        .then(response => response.json())
        .catch(error => console.error("Error:", error))
        .then(response => console.log("Success:", response));
      console.log("El button guardar functiona");
      this.pin_up();
    },
    //function de Login
    loginChange(user, password) {
      if (user == null || password == null) {
        alert("please write information");
      } else if (user == "Admin" && password == "Admin") {
        this.listcontactedit();
      } else {
        alert("El usuario y contraseña no bien");
      }
    },
    //function de añadir
    async AddContact(id, Name, Lastname, Email, phone) {
      if (
        id == null ||
        Name == null ||
        Lastname == null ||
        Email == null ||
        phone == null
      ) {
        alert("Por Favor escribir información");
      } else {
        await fetch(this.url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            id: id,
            name: Name,
            lastname: Lastname,
            email: Email,
            phone: phone
          })
        })
          .then(response => response.json())
          .catch(error => console.error("Error:", error))
          .then(response => console.log("Success:", response));
        console.log("El button Add functiona");
      }
    }
  }
};
</script>

<style>
.login {
  color: white;
  width: 50%;
  height: 350px;
  margin-top: 200px;
  background: white;
  opacity: 0.6;
  border-radius: 20px;
}
@media (max-width: 400px) {
  .login {
    width: 90%;
    font-size: 12px;
  }
}
body {
  background-image: linear-gradient(120deg, #3498db, #8e44ad);
}
</style>
